.btn {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: #fff;
}

.btn:disabled {
  background-color: #aeaeae;
  color: #888;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  transform: scale(1.02);
}

.search {
  font-size: 1.8rem;
  width: 20rem;
  background-color: blue;
}

.userInfo {
  font-size: 1.4rem;
  background-color: transparent;
}

.pagination {
  font-size: 1.4rem;
  background-color: blue;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
