.card {
  max-width: 620px;
  box-sizing: border-box;
  border: 1px solid #00f;
  padding: 1rem 2rem;
  font-size: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
}

.btn {
  grid-column: -1;
}

.moreInfo {
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
}

.img {
  margin-right: 1rem;
  max-width: 10rem;
  border-radius: 1rem;
  box-shadow: -3px 3px 10px 3px #fff;
}

.repo {
  font-size: 1.8rem;
}
