* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #fff;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #00c1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

#root {
  height: 100%;
  max-width: 1220px;
}
